{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
<br><br>
{%if data.venues|length >1 and not data.error %}
<div class="container">
	<h3>Peak into the latest venues</h3>
	<h6>and don't forget to enjoy the sense of music</h6>
	<table>
		<thead>
			<td>ID</td>
			<td>Venue's Name</td>
			<td>City</td>
			<td>State</td>
		</thead>
		<tbody>
			{% for venue in data.venues  %}
			<tr>
				<td>{{venue.id}}</td>
				<td>{{venue.name}}</td>
				<td>{{venue.city}}</td>
				<td>{{venue.state}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{%endif%}
{% if data.artists|length>1 and not data.error %}
<div class="container">
	<h3>Look @ the newest Artists in the platform</h3>
	<h6>Say hi (in music)</h6>
	<table>
		<thead>
			<td>ID</td>
			<td>Artist's Name</td>
			<td>City</td>
			<td>State</td>
		</thead>
		<tbody>
			{% for artist in data.artists %}
			<tr>
				<td>{{artist.id}}</td>
				<td>{{artist.name}}</td>
				<td>{{artist.city}}</td>
				<td>{{artist.state}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock %}