{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}
{%if response.error == 'True' %}
	<h3>Not Found</h3>
{% else %}
	<h3>Number of search results for "{{ search_term }}": {{ size }}</h3>
	<ul class="items">
		{% for venue in response.query_results %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
				<ul><li>Number of Upcomming shows: {{venue.upcomming_shows}} </li></ul>
			</a>
		</li>
		{% endfor %}
	</ul>
{%endif%}
{% endblock %}