{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}

{% if data|length <1 %}
	<h3> No Venues to show</h3>
{% else %}
	{% for d in data %}
	<h3>{{ d.area.city }}, {{ d.area.state }}</h3>
		<ul class="items">
			{% for venue in d.venues %}
			<li>
				<a href="/venues/{{ venue.id }}">
					<i class="fas fa-music"></i>
					<div class="item">
						<h5>{{ venue.name }}</h5>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endif %}
{% endblock %}